<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questions" class="ru.otus.model.Questions"/>

    <bean id="csvReader" class="ru.otus.util.CsvReader">
        <constructor-arg value="/test.csv"/>
        <property name="questions" ref="questions"/>
    </bean>

    <bean id="testConsole" class="ru.otus.services.TestConsole">
        <constructor-arg ref="questions"/>
        <property name="questions" ref="questions"/>
    </bean>

</beans>
